

networks:
  default:
    name: ${NETWORK}
    external: true

services:
  
  gitea-runner:
    image: gitea/act_runner:nightly
    environment:
      # CONFIG_FILE: /config.yaml
      GITEA_INSTANCE_URL: "${GITEA_INSTANCE_URL:-}"
      GITEA_RUNNER_REGISTRATION_TOKEN: "${GITEA_RUNNER_REGISTRATION_TOKEN:-}"
      GITEA_RUNNER_NAME: "${GITEA_RUNNER_NAME:-shared-runner}"
      # GITEA_RUNNER_LABELS: "${GITEA_RUNNER_LABELS:-default}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # - ${DATA}/gitea-runner/config.yaml:/config.yaml
      - ${DATA}/gitea-runner-{{.Task.Slot}}:/data
    healthcheck:
      test: ["CMD-SHELL", "pgrep act_runner || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    deploy:
      replicas: ${GITEA_RUNNER_REPLICAS:-6}
      placement:
        constraints:
          - node.labels.app_gitea-runner == true
      resources:
        limits:
          memory: ${RES_LIMIT_MEM_GITEA_RUNNER:-2G}
        reservations:
          memory: ${RES_RESER_MEM_GITEA_RUNNER:-512M}
