

# docker network create --driver overlay --attachable cluster
networks:
  default:
    name: ${NETWORK}
    external: true

services:
  alloy:
    image: grafana/alloy:v1.5.1
    container_name: alloy
    restart: ${SRV_RESTART_MODE:-always}
    user: "0:0"
    command:
      - "run"
      - "--server.http.listen-addr=0.0.0.0:12345"
      - "--storage.path=/var/lib/alloy/data"
      - "/etc/alloy/config.alloy"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/log:/var/log:ro
      - ${DATA}/alloy/config.alloy:/etc/alloy/config.alloy:ro
    ports:
      - "${PORT_ALLOY:-12345}:12345"
    environment:
      - HOSTNAME=${HOSTNAME}
      - LOKI_URL=${LOKI_URL:-http://loki:3100/loki/api/v1/push}
      - PROMETHEUS_URL=${PROMETHEUS_URL:-http://prometheus:9090/api/v1/write}
    deploy:
      placement:
        constraints: [node.host == manager]
      resources:
        limits:
          memory: ${RES_LIMIT_MEM_ALLOY:-${RES_LIMIT_MEM:-1G}}
        reservations:
          memory: ${RES_RESER_MEM_ALLOY:-${RES_RESER_MEM:-64M}}
