

# docker network create --driver overlay --attachable cluster
networks:
  default:
    name: ${NETWORK}
    external: true
    

services:

  traefik:
    image: traefik:v3.0
    restart: ${SRV_RESTART_MODE:-always}
    ports:
      - target: ${PORT_PROXY}
        published: ${PORT_PROXY}
        mode: host
      - target: ${PORT_PROXY_SSL}
        published: ${PORT_PROXY_SSL}
        mode: host
      - target: 8080
        published: ${PORT_PROXY_DASHBOARD}
        mode: host
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "${DATA}/traefik/config:/etc/traefik/config:ro"
      - "${DATA}/acme:${DATA}/acme:ro"
    command: 

      --global.checkNewVersion=false
      --global.sendAnonymousUsage=false

      --serversTransport.insecureSkipVerify=true
      --log.level=DEBUG

      --api=true
      --api.debug=false
      --api.insecure=false
      --api.dashboard=true

      --entrypoints.web.address=:${PORT_PROXY}
      --entrypoints.websecure.address=:${PORT_PROXY_SSL}

      --providers.docker=true 
      --providers.docker.watch=true
      
      --providers.docker.exposedbydefault=false
      --providers.docker.endpoint=unix:///var/run/docker.sock

      --providers.file=true
      --providers.file.watch=true
      --providers.file.directory=/etc/traefik/config
      
    labels:
      - traefik.enable=true
      # global redirect to https
      - traefik.http.routers.http-redirect.rule=HostRegexp(`.*`)
      - traefik.http.routers.http-redirect.entrypoints=web
      # https redirect
      - traefik.http.routers.http-redirect.middlewares=https-redirect
      # https redirect middleware
      - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https-redirect.redirectscheme.permanent=false


      #- traefik.http.routers.dashboard.rule=Host(`traefik.localhost`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      - traefik.http.routers.dashboard.rule=HostRegexp(`^traefik\..*`)
      - traefik.http.routers.dashboard.tls=true
      - traefik.http.routers.dashboard.service=api@internal
      - traefik.http.routers.dashboard.middlewares=https-redirect
      - traefik.http.routers.dashboard.middlewares=dashboard-auth
      # middleware auth users  https://tool.oschina.net/htpasswd
      - traefik.http.middlewares.dashboard-auth.basicauth.users=admin:${HTPASSWD}

        # just adummy label to fixed in swarm mode
      - "traefik.http.services.adummy.loadbalancer.server.port="

    logging:
      driver: "json-file"
      options:
        max-size: "128k"
        max-file: "1"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      mode: global
      placement:
        constraints: 
          - node.hostname == ${HOSTNAME}
          #- node.role == manager
      resources:
        limits:
          memory: ${RES_LIMIT_MEM_TRAEFIK:-512M}
        reservations:
          memory: ${RES_RESER_MEM_TRAEFIK:-128M}


