

# docker network create --driver overlay --attachable cluster
networks:
  default:
    name: ${NETWORK}
    external: true
    

services:

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: ${SRV_RESTART_MODE:-always}
    ports:
      - "${PORT_GRAFANA}:3000"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DATA}/grafana/:/var/lib/grafana
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.${DOMAIN}
      - GF_SECURITY_ADMIN_PASSWORD=${PASSWORD}
    labels:
      - traefik.enable=true
      - traefik.http.routers.grafana.rule=HostRegexp(`^grafana\..*`)
      - traefik.http.routers.grafana.tls=true
      - traefik.http.routers.grafana.entrypoints=websecure
      - traefik.http.routers.grafana.service=grafana@docker
      - traefik.http.services.grafana.loadbalancer.server.port=8080
      - traefik.http.services.grafana.loadBalancer.passHostHeader=true
      - traefik.http.middlewares.grafana.compress=true

    deploy:
      mode: global
      placement:
        constraints: 
          - node.hostname == ${HOSTNAME}
          #- node.role == manager
      resources:
        limits:
          memory: ${RES_LIMIT_MEM_GRAFANA:-${RES_LIMIT_MEM:-1G}}
        reservations:
          memory: ${RES_RESER_MEM_GRAFANA:-${RES_RESER_MEM:-64M}}
