
# docker network create --driver overlay --attachable cluster
networks:
  default:
    name: ${NETWORK}
    external: true

configs:
  mysql7-config:
    name: ${MYSQL7_CONFIG}
    external: true

services:

  mysql7:
    image: mysql:5.7-oracle
    # restart: ${SRV_RESTART_MODE:-always}
    # privileged: true  # Docker Stack 不支持
    ports:
      - "${PORT_MYSQL7}:3306"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DATA}/mysql7/data:/var/lib/mysql
      - ${DATA}/mysql7/log:/var/log/mysql
    configs:
      - source: mysql7-config
        target: /etc/mysql/my.cnf
    environment:
      TIMEZONE: Asis/Shanghai
      MYSQL_ROOT_PASSWORD: ${PASSWORD}
      MYSQL_DATABASE: public
    command:
      --innodb-flush-method=fsync
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    labels:
      - "logging.enabled=true"
      - "app_name=mysql7"
      - "environment=${ENV}"
      - "logging_level=INFO"
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      interval: 5s
      timeout: 10s
      retries: 10
    deploy:
      restart_policy:
        condition: ${SRV_RESTART_MODE:-any}
      replicas: 1
      placement:
        constraints:
          - node.labels.app_mysql7 == true
      resources:
        limits:
          memory: ${RES_LIMIT_MEM_MYSQL7:-2G}
        reservations:
          memory: ${RES_RESER_MEM_MYSQL7:-512M}
