# docker network create --driver overlay --attachable cluster
networks:
  default:
    name: ${NETWORK}
    external: true

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: ${SRV_RESTART_MODE:-always}
    command: tunnel --no-autoupdate run --token ${CLOUDFLARED_TOKEN}
    network_mode: host
    deploy:
      placement:
        constraints: [ node.host == manager ]
      resources:
        limits:
          memory: ${RES_LIMIT_MEM_CLOUDFLARED:-512M}
        reservations:
          memory: ${RES_RESER_MEM_CLOUDFLARED:-64M}