
# docker network create --driver overlay --attachable cluster
networks:
  default:
    name: ${NETWORK}
    external: true


volumes:
  xxljob_data:
    driver: local


services:
  xxljob:
    # https://hub.docker.com/r/xuxueli/xxl-job-admin/tags
    image: xuxueli/xxl-job-admin:3.3.1
    # restart: ${SRV_RESTART_MODE:-always}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - xxljob_data:/data/applogs
    ports:
      - ${PORT_XXLJOB:-8080}:8080
    environment:
      # 设置启动参数
      PARAMS: >-
        --server.port=8080
        --server.servlet.context-path=/xxl-job-admin
        --spring.datasource.url=jdbc:mysql://mysql8:3306/xxl_job?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
        --spring.datasource.username=root
        --spring.datasource.password=${PASSWORD}
        --xxl.job.accessToken=${XXLJOB_TOKEN}
    labels:
      - "logging.enabled=true"
      - "app_name=xxljob"
      - "environment=${ENV}"
      - "logging_level=INFO"
      - traefik.enable=true
      - traefik.http.routers.xxljob.rule=HostRegexp(`^xxljob\..*`)
      - traefik.http.routers.xxljob.tls=true
      - traefik.http.routers.xxljob.entrypoints=websecure
      - traefik.http.routers.xxljob.service=xxljob@docker
      - traefik.http.services.xxljob.loadbalancer.server.port=8080
    healthcheck:
      disable: true
      # test: ["CMD-SHELL", "curl -fs http://localhost:8080/xxl-job-admin/actuator/health || exit 1"]
      # interval: 30s
      # timeout: 5s
      # retries: 5
      # start_period: 30s
    deploy:
      replicas: 1
      restart_policy:
        condition: ${SRV_RESTART_MODE:-any}
      placement:
        constraints:
          - node.labels.app_xxljob == true
      resources:
        limits:
          memory: ${RES_LIMIT_MEM_XXLJOB:-512M}
        reservations:
          memory: ${RES_RESER_MEM_XXLJOB:-256M}
