# docker network create --driver overlay --attachable cluster
networks:
  default:
    name: ${NETWORK}
    external: true

services:
  coder:
    image: lscr.io/linuxserver/code-server:latest
    container_name: coder
    restart: ${SRV_RESTART_MODE:-always}
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PASSWORD=$PASSWORD # Optional
    volumes:
      - ${DATA}/code-server/config:/config
    ports:
      - ${PORT_CODER:-8443}:8443
    labels:
      - traefik.enable=true
      - traefik.http.routers.coder.rule=HostRegexp(`^coder\..*`)
      - traefik.http.routers.coder.tls=true
      - traefik.http.routers.coder.entrypoints=websecure
      - traefik.http.routers.coder.service=coder@docker
      - traefik.http.services.coder.loadbalancer.server.port=8443
      - traefik.http.services.coder.loadBalancer.passHostHeader=true
      - traefik.http.middlewares.coder.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.coder.headers.contentSecurityPolicy=upgrade-insecure-requests
    deploy:
      placement:
        constraints: [ node.host == manager ]
      resources:
        limits:
          memory: ${RES_LIMIT_MEM_CODER:-${RES_LIMIT_MEM:-1G}}
        reservations:
          memory: ${RES_RESER_MEM_CODER:-${RES_RESER_MEM:-64M}}
