
# docker network create --driver overlay --attachable cluster
networks:
  default:
    name: ${NETWORK}
    external: true


services:

  redis:
    image: redis:7
    restart: ${SRV_RESTART_MODE:-always}
    ports:
      - "${PORT_REDIS}:6379"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DATA}/redis/redis.conf:/etc/redis/redis.conf
      - ${DATA}/redis:/data
    command: 
      - redis-server 
      - '--requirepass "${PASSWORD}" '
      - '--tcp-keepalive 50'
      - '--appendonly yes'
      - '--appendfsync everysec'
      #- '--stop-writes-on-bgsave-error no'
      - '--save 60 1'
      - '--bind 0.0.0.0'
      - '--protected-mode yes'
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      placement:
        constraints: [node.role == manager]
      resources:
        limits:
          memory: ${RES_LIMIT_MEM_REDIS:-${RES_LIMIT_MEM:-1G}}
        reservations:
          memory: ${RES_RESER_MEM_REDIS:-${RES_RESER_MEM:-64M}}

